<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
	    <property name="prefix" value="/WEB-INF/jsp/"></property>
	    <property name="suffix" value=".jsp"></property>
	</bean>
	
	<bean name="/*.htm" class="ar.edu.misi.advancedDB.web.HomeController">
		<property name="cityDao" ref="cityDao" />
	</bean>
	
	
	<bean id="cityDao" class="ar.edu.misi.advancedDB.CityDaoDefault" />

</beans>